* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 20px;
  background-color: #bdbec1;
}
#imagem{
  margin-top: -25px;
  border-radius: 20px;
}
#aspas {
  margin-right: -110px;
  width: 300px;
  -webkit-text-stroke: 0.9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 400px; 
  height: 500px; 
  background-color: rgba(14, 17, 35, 0.2);
  border-radius: 15px; 
  margin: auto; 
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}




#abrirConvite {
  color: rgba(193, 154, 82, 0.764);
  width: 400px; /* Definindo a largura do elemento abrirConvite */
  margin-top: -100px; /* Definindo a margem superior */
  position: absolute;
  background-color: #383e7a;
  -webkit-text-stroke: 0.8px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block; 

}

#abrirConvite:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(27, 27, 27, 0.5); 
  opacity: 0.9;
}

#sim, #nao {
  background-color: #0a6c0d; 
  font-size: 24px; 
  border: none;
  color: white; 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  margin: 10px; 
  cursor: pointer; 
  border-radius: 20px;
  transition-duration: 0.4s;}

#sim:hover, #nao:hover {
  background-color: #45a049; 
}

#nao {
  background-color: #751711; 
  position: absolute;
}

